<%-include('./Partials/header.ejs') %>
 <%-include('./Partials/homeNavBar.ejs', {categories: categories})%>
<body>
  <div class="container">
    <br>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Bem vindo esse é meu blog</h1>
        <br>
        <p class="lead">
          "Desvendando a vida em todos os seus aspectos: uma jornada
          entrelaçando fé, programação e engenharia. <br>
          <br>
           Bem-vindo ao meu blog
          pessoal, um espaço íntimo onde compartilho minhas experiências que
          moldaram quem eu sou. Aqui, mergulharemos nas profundezas da minha
          jornada, explorando tanto minha fé espiritual quanto minha paixão pela
          programação e engenharia. Ao longo deste blog, você encontrará relatos
          detalhados e reflexões profundas sobre os momentos marcantes da minha
          vida. Desde as descobertas transformadoras na minha fé, até as
          conquistas e desafios enfrentados no mundo da tecnologia, cada
          capítulo será minuciosamente explorado. Para proporcionar uma
          experiência de leitura agradável, utilizo classes utilitárias que
          cuidadosamente moldam a tipografia e o espaçamento do conteúdo. Dentro
          do maior container, cada palavra é cuidadosamente disposta, criando
          uma estrutura coesa e harmoniosa. Compartilhando minhas vivências,
          espero inspirar e motivar você, caro leitor, a abraçar sua própria
          jornada com coragem, autenticidade e gratidão. Mostrarei que é
          possível integrar diferentes facetas da vida, permitindo que a fé e a
          tecnologia fluam em harmonia, nutrindo-nos como seres humanos plenos.
          Convido você a embarcar nessa jornada multifacetada, onde exploraremos
          as maravilhas da espiritualidade e a empolgação da inovação
          tecnológica. Que cada palavra que aqui compartilho toque sua alma,
          desperte sua curiosidade e, acima de tudo, inspire-o a abraçar cada
          dimensão da sua própria existência. Seja bem-vindo ao meu blog, onde
          compartilhar experiências se torna um mergulho profundo e enriquecedor
          em todos os aspectos da vida."
        </p>
      </div>
    </div>
  </div>
</body>
<%-include('./Partials/footer.ejs') %>
