<%-include('../../Partials/header.ejs') %>
<%-include('../../Partials/navbar.ejs') %>
<div class="container">
    <br>
    <div class="card mt-5 md-10">
      <div class="card-header">
        <h2>Criação de Usuario</h2>
      </div>
      <div class=" card-body">
        <form action="/users/create" method="post">
            <fieldset>
                <legend>Crição do usuario </legend>
                <label for="email">Email:</label>
                <input class="form-control" type="email"  name="email" placeholder="email@exemplo.com"><br>
        
                <label for="password">Senha:</label>
                <input class="form-control" type="password"  name="password" placeholder="***********"><br>
        
                <hr>
                <button type="submit" class="btn btn-success btn-block">Cadastro</button>
            </fieldset>
        </form>
      </div>
    </div>
</div>
<%-include('../../Partials/footer.ejs') %>